<!DOCTYPE html>
{% extends "base.html" %}
{% block body_block %}
    <h1 class="display-4">Give feedback</h1>
    <button class="btn btn-dark m-1"
            onclick="location.href='{% url 'feedback:add_feedback_item' %}'"
            name='add_feedback'
            type="submit">+ Add feedback</button>
    {% if messages %}
        {% for message in messages %}<div class="alert alert-success">{{ message }}</div>{% endfor %}
    {% endif %}
    {% if feedback_items %}
        {% for feedback_item in feedback_items %}
            <div class="p-2 me-auto">
                <ul class="list-group">
                    <ul class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw" name="feedback_item_id">Feedback-ID: {{ feedback_item.id }}</div>
                            <div class="fw" name="feedback_item_id">
                                From: {{ feedback_item.username }} ({{ feedback_item.created_at|date:"Y-m-d H:m" }})
                            </div>
                            <div class="fw-bold" name="feedback_item_choice">Feedback dimension: {{ feedback_item.feedback_item_choice }}</div>
                            <div class="fw" name="feedback_item_score">Score: {{ feedback_item.score }}</div>
                            <div class="fw" name="feedback_item_description">Description: {{ feedback_item.description }}</div>
                        </div>
                    </ul>
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <br>
        <br>
        <p>No feedback yet.</p>
    {% endif %}
{% endblock body_block %}
